<!-- Lera-->

<section class="what-u-get-container">
	<div class="container">
		<div class="what-u-get">
			<div class="what-u-get-post">
				<div class="what-u-get-content">
					<div class="what-u-get-img">
						<img class="what-u-get-img1" src="./img\icons\whatuget-1-icon.svg" alt="news" />
					</div>
					<div class="what-u-get-desc">
						<h4 class="what-u-get-title">
							Creatred to Make The Web Better
						</h4>
						<p class="what-u-get-text">
							Aenean cursus imperdiet nisl id fermentum. Aliquam
							pharetra dui laoreet vulputate dignissim. Sed id
							metus id quam auctor molestie eget ut augue.
						</p>
					</div>
				</div>
				<div class="what-u-get-content">
					<div class="what-u-get-img">
						<img class="what-u-get-img2" src="./img\icons\whatuget-2-icon.svg" alt="timer" />
					</div>
					<div class="what-u-get-desc">
						<h4 class="what-u-get-title">
							Incredibly Powerful Tool
						</h4>
						<p class="what-u-get-text">
							Maecenas eu dictum felis, a dignissim nibh. Mauris
							rhoncus felis odio, ut volutpat massa placerat ac.
							Curabitur dapibus iaculis mi gravida luctus. Aliquam
							erat volutpat.
						</p>
					</div>
				</div>
				<div class="what-u-get-content">
					<div class="what-u-get-img">
						<img class="what-u-get-img3" src="./img\icons\whatuget-3-icon.svg" alt="chemical flask" />
					</div>
					<div class="what-u-get-desc">
						<h4 class="what-u-get-title">Experimental Stuff</h4>
						<p class="what-u-get-text">
							Maecenas eu dictum felis, a dignissim nibh. Mauris
							rhoncus felis odio, ut volutpat massa placerat ac.
							Curabitur dapibus iaculis mi gravida luctus. Aliquam
							erat volutpat.
						</p>
					</div>
				</div>
				<div class="what-u-get-content">
					<div class="what-u-get-img">
						<img class="what-u-get-img4" src="./img\icons\whatuget-4-icon.svg" alt="clock" />
					</div>
					<div class="what-u-get-desc">
						<h4 class="what-u-get-title">
							Creatred to Make The Web Better
						</h4>
						<p class="what-u-get-text">
							Maecenas eu dictum felis, a dignissim nibh. Mauris
							rhoncus felis odio, ut volutpat massa placerat ac.
							Curabitur dapibus iaculis mi gravida luctus. Aliquam
							erat volutpat.
						</p>
					</div>
				</div>
			</div>
			<div class="what-u-get-code">
				<h3 class="what-u-get-title-main">
					< Here is what you get>
				</h3>

			</div>
		</div>
	</div>
</section>