<!-- Lera -->

<footer class="footer">
    <div class="container">
        <h2 class="footer-title">Fork Subscription Pricing</h2>
        <div class="prising-catalog">
           <div class="prising"> 
                <div class="prising-title">
                    <h4 class="title">Students</h4>
                </div>
                <p class="price">$29</p>
                <p class="time time1">per month</p>
                <p class="desc ">Personal License</p>
                <button class="btn prising-btn prising-btn1"><a href="#">purchase</a></button>
            </div>
 
                <div class="prising">
                    <div class="prising-title">
                        <h4 class="title">professional</h4>
                    </div>
                    <p class="price">$59</p>
                    <p class="time ">per month</p>
                    <p class="desc">Professional License Email Support</p>
                    <button class="btn prising-btn"><a href="#">purchase</a></button>
                </div>
 
                    <div class="prising-big">
                        <div class="prising-title-big">
                            <h4 class="title title-big">agency</h4>
                        </div>
                        <p class="price price-big">$99</p>
                        <p class="time time-big">per month</p>
                        <p class="desc desc-big">1-12 Team Members <br> Phone Support</p>
                        <button class="btn prising-btn prising-btn-big"><a href="#">purchase</a></button>
                    </div>
                    <div class="prising prising4">
                        <div class="prising-title">
                            <h4 class="title">enterprise</h4>
                        </div>
                        <p class="price">$159</p>
                        <p class="time">per month</p>
                        <p class="desc">Unlimited Team Members 24/ 7 Phone Support</p>
                        <button class="btn prising-btn"><a href="#">purchase</a></button>
                     </div>
                </div> 
     </div>
</footer>