<!-- Dima -->

<header>

    <div class="menu-wrapper">
        <div class="wrapper-logo-burger">
            <a href="#" class="logo-wrapp">
                <a href="#" class="logo__icon-wrap">
                    <img src="./img/icons/logoHover.svg" alt="" class="logo__hover">
                    <img src="./img/icons/MainIcons.svg" alt="Logo" class="logo__icon">
                </a>
                <h2 class="logo-title">Forkio</h2>
            </a>
        </div>
        <div class="header-menu-wrapp">
            <nav>
                <ul class="menu-list">
                    <li class="menu-items"><a href="#">Overview</a></li>
                    <li class="menu-items"><a href="#">About Fork</a></li>
                    <li class="menu-items"><a href="#">Buying Options</a></li>
                    <li class="menu-items"><a href="#">Support</a></li>

                </ul>
            </nav>
        </div>
        <div class="menu-item">
            <button class="btn">Buy Now</button>
        </div>
        <div class="burger-wrapp">
            <div class="burger-btn ">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div>
                <nav class="hide burger-menu-list">
                    <ul class="burger-menu">
                        <li class="burger"><a href="#">Overview</a></li>
                        <li class="burger"><a href="#">About Fork</a></li>
                        <li class="burger"><a href="#">Buying Options</a></li>
                        <li class="burger"><a href="#">Support</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="header-title-wrapper">
            <h1 class="header-title">Fork App</h1>
            <p class="header-text">A real gamechanger in the world of web development</p>
            <p class="header-disc">v. 2.8 For Mac and Windows</p>
        </div>
        <div class="btn-wrapp-download">
            <button class="btn download-btn">
                Download For Free Now
            </button>
        </div>

    </div>
</header>