<!-- Lera -->

<section class="container">
	<div class="editor">
		<p class="editor-comment">Unlimited 30-Days Trial Period</p>
		<h2 class="editor-title">Revolutionary editor</h2>
		<p class="editor-text">
			Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
			laoreet vulputate dignissim. Sed id metus id quam auctor molestie
			eget ut augue.
		</p>
		<div class="editor-icons">
			<a href="#"
				><img
					class="editor-img-part1"
					src="./img/icons/editor-icon1.svg"
					alt=""
			/></a>
			<a href="#"
				><img
					class="editor-img-part2"
					src="./img/icons/editor-icons2.svg"
					alt=""
			/></a>
		</div>
	</div>
</section>
