<!-- Dima -->
<section class="section-aboutFork">
    <div class="container">
        <h2 class="aboutFork-titel">People Are Talking About Fork</h2>
        <div class="about-cards-wrapper">
            <div class="about-cards flex">
                <img src="./img/icons/smashingicon.svg" alt="">
                <div>
                    <p class="about-cards-txt">
                        Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna.
                        Sed
                        varius urna et
                        pulvinar venenatis.
                    </p>
                </div>

            </div>
            <div class="about-cards flex">
                <img src="./img/icons/coddropicon.svg" alt="">
                <div>
                    <p class="about-cards-txt">
                        Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac,
                        mollis eleifend nibh.
                    </p>
                </div>
            </div>
            <div class="about-cards flex">
                <img src="./img/icons/wicon.svg" alt="">
                <div>
                    <p class="about-cards-txt">
                        In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh.
                        Morbi tempus auctor
                        felis ac vehicula.

                    </p>
                </div>
            </div>
            <div class="about-cards flex">
                <img src="./img/icons/pixelicon.svg" alt="">
                <div>
                    <p class="about-cards-txt">
                        Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna.
                        Sed
                        varius urna et
                        pulvinar venenatis.
                    </p>
                </div>
            </div>
            <div class="about-cards flex">
                <img src="./img/icons/creatieicon.svg" alt="">
                <div>
                    <p class="about-cards-txt">
                        Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu
                        consequat faucibus.
                    </p>
                </div>
            </div>
            <div class="about-cards flex">
                <img src="./img/icons/tnwicon.svg" alt="">
                <div>
                    <p class="about-cards-txt">
                        Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus
                        massa et vestibulum.

                    </p>
                </div>
            </div>
        </div>
        <span class="aboutFork-footer">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis
            vitae
            aliquet id, imperdiet
            quis nibh. Donec
            eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis
            parturient
            montes, nascetur ridiculus mus.</span>
    </div>
</section>