.burger-btn {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  span {
    width: 26px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    transition: all 0.7s;
    &:nth-of-type(2) {
      top: calc(50% - 6px);
      width: 15px;
      left: 69%;
    }
    &:nth-of-type(3) {
      top: calc(50% + 6px);
      width: 26px;
    }
  }
}
.burger-btn-close {
  span {
    width: 26px;
    height: 3px;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    transition: all 0.5s;
    transform: rotate(45deg);
    left: 0;
    &:nth-of-type(2) {
      width: 0px;
      opacity: 0;
    }
    &:nth-of-type(3) {
      top: 57%;
      left: 0;
      width: 26px;
      transform: rotate(-45deg);
    }
  }
}
.burger-wrapp {
  display: flex;
  flex-direction: column;
  display: none;
  @media (max-width: 700px) {
    display: block;
  }
}

.burger-menu {
  position: absolute;
  top: 117px;
  width: 295px;
  left: 50%;
  transform: translate(-50%);
  background: #333333;
  display: flex;
  flex-direction: column;
  .burger {
    position: relative;
    padding: 29px 0px 21px 36px;
    border-bottom: 3px solid #575757b9;

    &:hover {
      a {
        color: $firstColor;
      }
      &::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 53px;
        background: $firstColor;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    a {
      text-decoration: none;
      font-weight: 400;
      font-size: 26px;
      line-height: 26px;
      color: #ffffff;
    }
  }
  display: block;
}
.hide {
  display: none;
}
