.footer {
	background: url(../img/FooterBg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	@media (max-width: 992px) { 
		background-repeat: repeat;
  }
}

.footer-title {
	position: relative;
	font-weight: 700;
	font-size: 48px;
	line-height: 50px;
	text-align: center;
	color: #ffffff;
    padding-top: 88px;
	@media (max-width: 690px) { 
		margin-bottom: 33px;
  }
}
.footer-title::before {
	content: "";
		display: block;
		position: absolute;
		width: 60%;
		height: 2px;
		left: 258px;
	margin-top: -125px;
		background: #645766;
		@media (max-width: 992px) { 
			left: 190px;
      }
	  @media (max-width: 690px) { 
		left: 135px;
  }
}
.prising-catalog {
	display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
    gap: 15px;
	justify-content: center;

    @media (max-width: 992px) { 
            flex-basis: 50%;
            gap: 25px;
            justify-content: center;
      }
	  @media (max-width: 690px) { 
		flex-direction: column;
		align-items: center;
		gap: 0;
  }
}
.prising {
	width: 257px;
	background: rgba(255, 255, 255, 0.11);
	mix-blend-mode: normal;
	text-align: center;
	margin-bottom: 150px;
    margin-top: 112px;
	@media (max-width: 1135px) { 
		margin-bottom: 0;
  }
	@media (max-width: 992px) { 
		margin-bottom: 71px;
    margin-top: 39px;
  }
	@media (max-width: 690px) { 
		margin-bottom: 18px;
    margin-top: 0;
  }
}
.prising4 {
	margin-top: 113px;
	margin-bottom: 150px;
	@media (max-width: 1135px) { 
		margin-top: 0;
  }
}
.prising-big {
    background: rgba(70, 48, 72, 0.84);
    mix-blend-mode: normal;
	text-align: center;
    margin-top: 60px;
    height: 600px;
    width: 299px;
	@media (max-width: 992px) { 
		margin-top: 22px;
		margin-bottom: 22px;
  }
	@media (max-width: 690px) { 
		margin-top: 0;
		margin-bottom: 18px;
  }
}

.prising-title {
	width: 257px;
	height: 97px;
	background: rgba(255, 255, 255, 0.06);
	mix-blend-mode: normal;
	
}


.prising-title-big{
    width: 299px;
    background: rgba(0, 0, 0, 0.11);
    mix-blend-mode: normal;
}
.title {
    padding-top: 36px;
	text-align: center;
	color: #ffffff;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	
}
.title-big{
    padding: 43px 96px;
}
.price {
    padding-bottom: 20px;
	padding-top: 30px;
	color: #ffffff;
	font-weight: 400;
	font-size: 60px;
	line-height: 90px;
	text-transform: uppercase;
}
.price-big{
    padding-top: 14px;
    padding-bottom: 16px;
    font-size: 82px;
}
.time {
	position: relative;
	padding-bottom: 70px;
	color: #ffffff;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
  
}
.time-big{
	margin-bottom: 44px;
}

.time::after {
	content: "";
	display: block;
	position: absolute;
	width: 60px;
	height: 5px;
    left: 38%;
	margin-top: 38px;
	background-color: #8d81ac;
}
.time-big::after{
	margin-top: 46px;
}
.desc {
	// padding-bottom: 50px;
	color: #ffffff;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
}
.desc-big {
    margin-bottom: 60px;

}
.prising-btn {
	background: rgba(255, 255, 255, 0.15);
	width: 160px;
	height: 42px;
    margin-top: 50px;
    margin-bottom: 38px;
}
.prising-btn1 {
    margin-top: 69px;
}
.prising-btn-big {
    margin-bottom: 47px;
}
.prising-btn a {
	font-size: 15px;
	line-height: 15px;
	// text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 400;
	padding: 14px 36px;
}
